<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <title>MY NODE APP</title>
</head>

<body>
  <div class="">
    <div class="">
      <div class="well" style="background-color: #3b5998 ;color: #fff ">
        <h1 >Node CRUD</h1>
      </div>
    </div>
    <div class="">
      <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/employee">Employees</a></li>
      <li class="breadcrumb-item active">List</li>
    </ol>
    </div>
    <div class="">
        <div class="panel panel-default">
          <div class="panel panel-heading">
            <div class="row">
              <div class="col-md-6">
                <h3 class="" style="margin: 5px 0px;"> Employees</h3>
              </div>
              <div class="col-md-6">
                <a href="/employee/add" class="btn btn-primary pull-right">Add Employee</a>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email Id</th>
                  <th>Created At</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<employees.length; i++) {%>
                  <tr class="quote">
                    <td><%= employees[i].name %></td>
                    <td><%= employees[i].email_id %></td>
                    <td><%= employees[i].created_at %></td>
                    <td>
                      <a class="btn btn-default btn-sm" href="/employee/<%= employees[i].id %>"><i class="fa fa-eye"></i></a>
                      <a class="btn btn-default btn-sm" href="/employee/update/<%= employees[i].id %>"><i class="fa fa-pencil"></i></a>
                      <form action="/employee/del/<%= employees[i].id %>" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-default btn-sm btn-del" ><i class="fa fa-trash-o"></i></a>
                      </form>
                    </td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>

</body>
</html>

<script type="text/javascript">
   $('.btn-del').click(function(ev){
     a=confirm("Are you sure");
     if(!a)
     {
       return false;
     }
     return true;
   })

</script>
